* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #181818;
  color: #a7a7a7;
  font-family: arial, sans-serif;
}

.container {
  height: 100vh;
  padding: 20px;
}

a.active {
  color: #fff !important;
}

/* SIDEBAR STYLES */

.sidebar {
  padding: 0 20px 0 0;
  width: 14vw;
  height: 100%;
  background-color: #000000;
}

.logo {
  width: 140px;
}

.links {
  padding: 20px 0 0 0;
}

.links-item {
  display: flex;
  list-style: none;
  margin-top: 15px;
  align-items: center;
  gap: 20px;
}

.links-item:nth-child(4) {
  margin-top: 40px;
}

.links-item a {
  text-decoration: none;
  color: #a7a7a7;
  font-weight: bold;
  transition: color 0.2s ease-in;
}

.links-item a:hover {
  color: #fff;
  cursor: pointer;
}

.links-item img {
  width: 28px;
}

/* LAYOUT STYLES */

.layout {
  display: flex;
}

/* SEARCH WINDOW STYLES */
.popup {
  background-color: #0f0f0f;
  padding: 40px 50px;
  width: 100%;
  max-width: 75vw;
  height: 84vh;
  text-align: center;
  border-radius: 15px;
  box-shadow: none;
}

.popup header h1 {
  text-align: left;
  font-size: 40px;
}

.popup header hr {
  border: none;
  height: 2px;
  background-color: #b3b3b3;
  margin-top: 10px;
}

.popup p {
  margin-top: 100px;
  font-size: 22px;
}

.popup header {
  color: white;
  padding: 15px;
  border-radius: 10px 10px 0 0;
}

.popup button:hover {
  background-color: #0056b3;
}

.popup main {
  margin: 0 auto;
  width: 60%;
}

.popup footer {
  margin-top: 15px;
  padding: 10px;
  background-color: #222;
  color: white;
  border-radius: 0 0 10px 10px;
}

.search-container {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.search-bar {
  flex: 1;
  padding: 12px;
  border: none;
  border-radius: 20px;
  background-color: #ffffff;
  color: #757575;
  font-size: 16px;
  width: 70%;
  outline: none;
}

.search-btn {
  background-color: #b3b3b3;
  color: #5b5b5b;
  border: none;
  padding: 12px 15px;
  margin-left: 10px;
  border-radius: 19px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 50px;
  width: 220px;
}

.search-btn:hover {
  background-color: #a0a0a0;
}
